<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>welcome to our wedding1</title>
<link rel="stylesheet" type="text/css" href="/index.css">
</head>
	<body>
<!--	<h3>微信SDK demo</h3>
	<div class="panel">
	<br>
	<button id="onMenuShareAppMessage">发送给朋友</button>
	<br>-->
	<button id="getLocation">获取位置</button>
	</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
var signature = '2e94d5fa061456129a5ba09397e14e1f5f927ae2';
var nonceStr = 'Wm3WZYTPz0wzccnW';
var timestamp = '1463974713';
var appId = 'wx7dc237bfc5f6c7ca';
var jsapi_ticket = 'sM4AOVdWfPE4DxkXGEs8VBiFp-AJz4AXuUv8WS01jLZPSWlJD3gsT6Q6mdRJigUbJyT0YIr80YTpVSMlGasfJA';
</script>
<script src="/index.js"></script>
	</body>
</html>
